{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

<div class="cont6">

<h1> titile</h1>

<p> texttxt  </p>
</div> 

<div class="container">
  <h3>Navbar With Dropdown</h3>
  <p>This example adds a dropdown menu for the "Page 1" button in the navigation bar.</p>
</div>


<div class="row cont6">
<h2> atta King Matkaa Results, Satta Matka Results, Satta King Resu </h2>
<h5 style="
    line-height: 24px;
"> Satta King Matkaa Results, Satta Matka Results, Satta King Results, Satta Matka Numbers, Satta King Numbers, Satta Matka Free Results, Satta King Free Results,  Satta King Delhi, Satta Matka Delhi, Satta King Faridabad, Satta matka Faridabad, Satta King Ghaziabad, Satta Matka Ghazibada, Satta King Old Chart, Satta Matka Old Chart 2019 Live Results are shown over sattakingmatkaa.com. The Data has been updated on our website in realtime.
 </h5> 
</div>

</div>

</div>

</div>

{% endblock %}



