

<!DOCTYPE html>
<html lang="en">
<head>
     {% block head %}
    <meta charset="UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

</script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.jsss') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename = 'Fevicon.png') }}" type="image/gif" sizes="16x16">
     <title>satta king, satta matkaa, satta matkaa results {% block title %}{% endblock %} SattaKingMatkaa - Daily Satta King Matkaa  </title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="google-site-verification" content="ygWd6AWtFTUT5lc6j_8SRGkD2dMPdAtJOzSFyt8-5_k" />

  <meta name="keywords" content="sattakingmatkaa, Satta King,Satta King result ,">
  <meta name="author" content="sattakingmatkaa">

<meta name="description" content="sattakingmatkaa, Satta King, result , Satta Gali, Satta-King, Satta King, Satta Number, Matka Number, Satta-King, Satta.com, Satta Game, Gali Number,Satta King, Satta, Satta Number, Delhi Satta, Satta Bazar,  Satta Number Matka Number,Matka King, Satta Game, Gali  Satta, Gali Leak Number, Gali Single Jodi, Gali, Deshawer Number, Result,Dev Satta King,  Desawar Single Jodi,  Satta Results, Matka Results Online Satta,  Satta GameS, gali satta result, delhi6 satta result, MORADABAD result, disawar old result">
<meta name="keywords" content="sattakingmatkaa, Satta King, Satta Gali, Satta-King, Satta King, Satta Number, Matka Number, Satta-King, Satta.com, Satta Game, Gali Number,Satta King, Satta, Satta Number, Delhi Satta, Satta Bazar, r white Satta, Satta Number Matka Number,Matka King, white Game, Gali  Satta, Gali Leak Number, Gali Single Jodi, Gali, Deshawer Number, Result,Dev Satta King, white Satta Result, Desawar Single Jodi, white Satta Results, Matka Results Online Satta, white Satta GameS, gali satta result, delhi6 satta result, MORADABAD result, disawar old result">
<meta name="content" content="sattakingmatkaa, Get Monthly Satta King Matka Chart of data and Leak Numbers for Gali, Desawar, Ghaziabad and Faridabad
from Satta King Matka result, satta kings matka number, satta king games, satta matka games, satta matka numbers, satta king numbers, satta game desawar gali delhi6 result satta free result delhi result number delhi6 moradabad result satta gali satta moradabad satta moradabad chart record delhi6 chart old satta chart top gusser matka link matka com live result satta matka number satta news.">
<meta name="content" content="Get Monthly Satta King Matka Chart of data and Leak Numbers for Gali, Desawar, Ghaziabad and Faridabad
from Satta King Matka result, satta kings matka number, satta king games, satta matka games, satta matka numbers, satta king numbers, satta game desawar gali delhi6 result satta free result delhi result number delhi6 moradabad result satta gali satta moradabad satta moradabad chart record delhi6 chart old satta chart top gusser matka link matka com live result satta matka number satta news.">


<!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "Live Satta Updated Results",
  "author" : {
    "@type" : "brand",
    "name" : "Satta King Matkaa"
  },
  "articleSection" : "Satta King Matkaa Results, Satta Matkaa Results, Satta King Results, Satta Matka Numbers, Satta King Numbers, Satta Matka Free Results, Satta King Free Results, Satta King Delhi, Satta Matka Delhi, Satta King Faridabad, Satta matka Faridabad, Satta King Ghaziabad, Satta Matka Ghazibada, Satta King Old Chart, Satta Matka Old Chart 2019 Live Results are shown over sattakingmatkaa.com. The Data has been updated on our website in realtime."
}
</script>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "SATTA KING MATKAA",
  "url" : "http://sattakingmatkaa.com/",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "Updated 115 seconds ago."
  }
}
</script>

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
var OneSignal = window.OneSignal || [];
OneSignal.push(function() {
OneSignal.init({
appId: "4bde6853-3d55-4ed8-ac79-9c6075999541",
});
});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-53596372-10"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-53596372-10');
</script>
<meta name="robots" content="index/follow">
 {% endblock %}

<style> h2.game {
    font-size: 20px !important;} h2.time {    font-size: 15px !important; }    .navbar-toggler{padding-left: 5em;}/*.navbar-toggler{     border: solid #fff;
    color: black;} */ </style>
</head>
<body>

  




<header>


<nav class="navbar navbar-inversess navbar-expand-lg ">
  <div class="container-fluid">
    <div class="navbar-header">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" fill="red"></path></svg>
  </button>

      <a class="navbar-brand" href="/"> <img src="{{ url_for('static', filename = 'logo.png') }}"  style=" height: 60px;
" alt="my logo"/> </a>
    </div>


  <div class="collapse navbar-collapse" id="navbarNavDropdown">


    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
     
      <li><a href="/about">About</a></li>
      
       
<li><a href="/knowledge"><span class="glyphicon glyphicon-user"></span> knowledge</a></li>

    </ul>
</div>
    <ul class="nav navbar-nav navbar-right">
      
     
    </ul>
  </div>
</nav>
  

</header>



 <div class="container">
<div id="content">{% block content %}{% endblock %}</div>
</div>

<!-- -->
<footer>
     <div class="container-fluid  py-3 ">
    <div class="container">
      <div class="row ft-md">
         <div class="col-md-6 text-white">

                    <a class="text-center">  ©  2019 Satta King Matkaa - Power By Satta King Matkaa </a>

        		</div>
	<div class="col-md-6 text-white ft" >

	<a class="text-white" href="/about"> About us </a> | <a class="text-white" href="/blog/Satta-Matka-is-a-Kind-of-Gamble"> Satta Matka is a Kind of Gamble</a> | <a class="text-white" href="/blog/Satta-Matka-2019-is-very-Popular"> Satta Matka 2019 is very Popular </a> | <a class="text-white" href="/blog/Satta-Matka-Satrted-in-India"> Satta Matka Satrted in India </a> |  <a class="text-white" href="/privacypolicy">Privacy Policy </a>
</div> 
</footer>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
</body>
