
<div class="container">

	<div class="row sfdiv">
		<div class="">

            <form method="post" action="/search">
                <center>
           <h4 class="pd-s"> Yahan Aap Month Aur Year Select Karke Gali, Desawar, Ghaziabad Aur Faridabad Ka Combined Chart Dekh Sakte Hai. </h4> <br>
            <select id="month" name="month">
            {% for mm,MM in months%}<option value="{{mm}}">{{MM}}</option>{% endfor %}
            </select>
            <select id="year" name="year">
            {% for yy in years%}<option value="{{yy}}">{{yy}}</option>{% endfor %}
            </select>
            <input id="direct-chart" type="submit" value="Go">
                </center>
            </form>
<hr>
{{msg}}


     </div>
    </div>
</div>


<div class="container">

	<div class="row sfdivbl">
		<div class="row">

            <form method="post" action="/subscribe">
                <center>
          <h4 class="pd-s">  Yahan Aap aur Number daal kar jaane hamare latest updates sidhe apne phone par!! </h4>
                <br>
                    <div class="col-md-4"> Your Email:<input type="email" name="username"> </div>
            <div class="col-md-4"> Your Phone:<input name="phno"> </div>
            <div class="col-md-4"><input id="direct-chart" type="submit" value="Subscribe"></div>
                 </center>
            </form>
     </div>
    </div>
</div>

<div class="container"> 
<div class="row cont6">
<h5 style="
    line-height: 24px;
"> Satta King Matkaa Results, Satta Matka Results, Satta King Results, Satta Matka Numbers, Satta King Numbers, Satta Matka Free Results, Satta King Free Results,  Satta King Delhi, Satta Matka Delhi, Satta King Faridabad, Satta matka Faridabad, Satta King Ghaziabad, Satta Matka Ghazibada, Satta King Old Chart, Satta Matka Old Chart 2019 Live Results are shown over sattakingmatkaa.com. The Data has been updated on our website in realtime.
 </h5> 
</div>

</div>





